body {
  font-family: sans-serif;
  background-color: #fff;
}

.container {
  width: 500px;
  margin: 10px auto;
  background-color: #E4E4E4;
  padding: 10px;
  border-radius: 10px;
}

.inputs {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

input {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.output {
  margin-top: 20px;
}

p {
  font-size: 16px;
}

@media (max-width: 480px) {
  .container {
    width: 300px;
    margin: 0 auto;
    background-color: #E4E4E4;
    padding: 10px;
    border-radius: 10px;
  }

  .swal2-popup {
    width: 50%;
    margin-left: -30%;
    /* Ajusta según el ancho deseado */
  }

  .swal2-title {
    font-size: 16px;
  }

  .swal2-content {
    font-size: 14px;
  }


}

@media (max-width: 768px) {
  .container {
    width: 300px;
    margin: 0 auto;
    background-color: #E4E4E4;
    padding: 10px;
    border-radius: 10px;
  }

  .swal2-popup {
    width: 70%;
    margin-left: -30%;
    /* Ajusta según el ancho deseado */
  }

  .swal2-title {
    font-size: 16px;
  }

  .swal2-content {
    font-size: 14px;
  }


}